  .select-items {
    position: absolute;
    background-color: #444444;
    padding: 8px 0;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 5px;

    .select-item {
      width: 100%;
      padding: 4px 13px;

      &:hover {
        background-color: #252525;
      }

      &:focus {
        background-color: #1f1818;
      }

      &.selected-item {
        background-color: #1b2777;

        &:hover {
          background-color: #111949;
        }
      }
    }
  }
