.button_select {
  // TODO GERER les couleurs, rajouter un thème en fait... et une manière de le gérer qui me convient
  position: relative;
  z-index: 9;
  background-color: #444444;
  border: 2px solid #eeeeee;
  padding: 4px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
